// Header styles
.header {
    @include flex-between;
    @include padding-y(2rem);
    align-items: center;

    &__left {
        @include flex-center-vert;
    }

    &__logo {
        font-size: 2rem;
        font-weight: 700;

        a {
            color: $black;
        }
    }

    &__nav {
        ul {
            display: flex;
        }

        li {
            @include margin-x(1.5rem);
        }

        a {
            display: flex;
            font-weight: 500;

            &:hover {
                color: $red;
            }
        }
    }
}

.hero {
    margin-top: 5rem;
    max-width: 75%;
    text-align: center;
    @include push--auto;

    &__title {
        font-size: 3rem;
        font-weight: 700;
        color: $red;
    }

    &__text {
        font-size: 1.5rem;
    }

    &__title,
    &__text {
        margin-bottom: 2rem;
        text-align: center;
    }
}

.intro {
    &__title {
        font-size: 2.5rem;
    }

    &__text {
        font-size: 1.3rem;
    }
}
