.btn {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    font-family: "Poppins", serif;
    transition: $transition;
    position: relative;
    font-weight: 500;
    color: $white;
    padding: 0.25rem 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;

    span {
        z-index: 2;
    }

    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: -10px;
        left: -25px;
        z-index: 1;
        background: $black;
        transition: $transition;
    }

    &--primary {
        background: $black;
        color: $white;

        &:hover {
            background: $red;
        }
    }
}
